@model Ver2.ViewModels.RoomInfoViewModel
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-lg-4">
        <img class="img-thumbnail" src="@Model.Room.img"
             alt="@Model.Room.name" />
        <h2>@Model.Room.name</h2>
        <p>@Model.Room.shortDesc</p>
        <p>Ціна: @Model.Room.price.ToString("c")</p>
        <p>@Model.Category.categoryName</p>
        <p>@Model.Category.desc</p>
    </div>

